<!-- Footer -->
<footer class="page-footer font-small pt-3" style="background: rgba(141, 153, 174,0.3)">

  <!-- Footer Links -->
  <div class="container-fluid text-center">

    <!-- Grid row -->
    <div class="row justify-content-center">
      <div class="col-12 mt-md-0 mt-2">
        <h4>Estamos nas Midias Socias!</h4>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="http://www.facebook.com" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="http://www.instagram.com" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="#">Time LeWagon</a>
  </div>

</footer>
