<div class="container-xl mt-3">
   <div class="row justify-content-center">
    <div class="col-12">
      <div class="h1 font-secondary text-center">Sobre nós:</div>
      <p class="m-0">A Rent Style é uma opção diferenciada em aluguel de roupas e acessórios diferenciados. Acompanhamos as últimas tendências da moda e estilo, oferecendo um mix de produtos diversificados e com atendimento personalizado, comodidade e conforto, sem precisar sair de sua casa.</p>
    </div>  
  </div> 
</div> 
<br>
<br>

<div class="container-xl">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="h1 font-secondary text-center">Como Funciona:</div>
    </div>
  <div class="col-12 mt-3">
    <div class="row">
      <div class="col-xl-6 d-flex align-items-center my-4"><i class='m-5 fas fa-mouse-pointer' style='font-size:24px'></i>
    <div>
      <p class="mt-0 mb-3 text-uppercase"><strong> NAVEGUE PELO SITE E ESCOLHA A PEÇA. </strong></p>
      <p class="m-0">Verifique as medidas e as datas disponíveis para locação. Lembre-se que no primeiro dia você recebe e no último tem que deixar disponível para nossa retirada.</p>
    </div>
  </div>
  <div class="col-xl-6 d-flex align-items-center my-4"><i class='m-5 fas fa-truck-moving' style='font-size:24px'></i>
    <div>
      <p class="mt-0 mb-3 text-uppercase"><strong> AGUARDE A CHEGADA DE SEUS PRODUTOS. </strong></p>
      <p class="m-0">Receba seus produtos em casa na data reservada.</p>
    </div>
  </div>
  <div class="col-xl-6 d-flex align-items-center my-4"><i class='m-5	fas fa-wine-glass' style='font-size:24px'></i>
    <div>
      <p class="mt-0 mb-3 text-uppercase"><strong> APROVEITE! </strong></p>
      <p class="m-0">Viva sua experiência com nossos produtos e aproveite seus looks novos.</p>
    </div>
  </div>
  <div class="col-xl-6 d-flex align-items-center my-4"><i class='m-5 fas fa-box-open' style='font-size:24px'></i>
    <div>
      <p class="mt-0 mb-3 text-uppercase"><strong> DEIXE DISPONÍVEL PARA RETIRADA. </strong></p>
      <p class="m-0">Coloque os produtos na embalagem de retorno e deixe disponível que cuidamos de todo o resto.</p>
    </div>
  </div>
</div>
