<div class="container" style="padding-top: 6rem; padding-bottom: 3rem;">
  <div class="container-xl mt-3" >
     <div class="row justify-content-center">
      <div class="col-12">
        <div class="h1 font-secondary text-center"><strong>Sobre nós:</strong></div>
        <br>
        <p class="m-0">A Rent Style é uma opção diferenciada em aluguel de roupas e acessórios. Acompanhamos as últimas tendências da moda e estilo, oferecendo um mix de produtos diversificados e com atendimento personalizado, comodidade e conforto.</p>
      </div>
    </div>
  </div>
  <br>
  <br>

  <div class="container-xl">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="h1 font-secondary text-center">Como Alugar Produtos:</div>
      </div>
    <div class="col-12 mt-3">
      <div class="row">
        <div class="col-xl-6 d-flex align-items-center my-4"><i class='m-5 fas fa-search' style='font-size:24px'></i>
      <div>
        <p class="mt-0 mb-3 text-uppercase"><strong> NAVEGUE PELO SITE E ESCOLHA OS PRODUTOS QUE DESEJA AJUGAR. </strong></p>
        <p class="m-0">Verifique as medidas e as datas disponíveis para locação. Selecione as peças desejadas e registre a forma de pagamento.</p>
      </div>
    </div>
    <div class="col-xl-6 d-flex align-items-center my-4"><i class='m-5 far fa-handshake' style='font-size:24px'></i>
      <div>
        <p class="mt-0 mb-3 text-uppercase"><strong> AGENDE A RETIRADA DE SEUS PRODUTOS. </strong></p>
        <p class="m-0">Selecione a data para retirada dos produtos e compareça no local e data combinados.</p>
      </div>
    </div>
    <div class="col-xl-6 d-flex align-items-center my-4"><i class='m-5	fas fa-glass-martini-alt' style='font-size:24px'></i>
      <div>
        <p class="mt-0 mb-3 text-uppercase"><strong> APROVEITE! </strong></p>
        <p class="m-0">Viva sua experiência com nossos produtos e aproveite seus looks novos.</p>
      </div>
    </div>
    <div class="col-xl-6 d-flex align-items-center my-4"><i class='m-5 far fa-calendar-check' style='font-size:24px'></i>
      <div>
        <p class="mt-0 mb-3 text-uppercase"><strong> DEVOLVA OS PRODUTOS. </strong></p>
        <p class="m-0">Coloque os produtos na embalagem de retorno e devolva-os no local e data combinados.</p>
      </div>
    </div>
  </div>
   <br>
  <div class="container-xl mt-3" >
     <div class="row justify-content-center">
      <div class="col-12">
        <div class="h1 font-secondary text-center">Como fornecer produtos para locação:</div>
        <br>
        <p class="m-0 text-center" >Na barra de tarefas, clique em Produtos e selecione Adicionar Produtos. </p>
        <p class="mt-1 text-center">Preencha o formulário de descrição do produto, adicione belas fotos e clique em Criar Produto.</p>
        <p class="mt-1 text-center">Pronto! Seu produto já está disponível para ser alugado.</p>
      </div>
    </div>
  </div>
</div>
