  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1602791013646-80ce7a59b501?ixlib=rb-1.2.1&q=');">
    <div class="container text-center" style="padding-bottom: 3rem">
        <h1><strong>Rent Style</strong></h1>
        <br>
        <p>Estilo não se compra, mas pode ser alugado</p>
        <br>
        <br>
        <div class="container w-25 p-3">
        <%= simple_form_for :search, url: root_path, method: :get do |f| %>
          <div class="search-form-control">
            <input class="form-control" type="text" placeholder="Digite o produto desejado" name="search[query]" id="search_query" />
            <button name="button" type="submit" class="btn btn-outline-primary mt-2">
              <i class="fas fa-search"></i>Buscar
            </button>
            <br>
            <br>
          </div>
        </div>
        <% end %>
        <%= link_to "Conheça nossos produtos!", products_path,  class: "btn btn-outline-primary" %>
    </div>
  </div>

