<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing, elit. Voluptatem odio magnam eos, sequi ipsum maiores voluptas deserunt atque repellendus similique ducimus repudiandae rerum maxime, ea alias illum animi placeat nisi.</p>
<hr>
<p>Lorem ipsum, dolor sit, amet consectetur adipisicing elit. Recusandae, laboriosam nesciunt laborum illo, fugiat qui eaque eligendi expedita nisi, natus dolorem ad dolore assumenda perferendis voluptatibus repellendus nemo temporibus, deserunt.</p>
