.form-login {
  background-color: #FFDDBB;
  padding: 10px 20px;
  margin-top: 30px;
  border-radius: 3px;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
  h2 {
   font-size: 30px;
   font-weight: bold;
   margin-bottom: 30px;
   text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px;
  }
}


