.showcard {
  position: relative;
  height: 3200px;
  color: black;
}

.subcard {
  background-color: #FFDDBB;
  border-radius: 2px;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
}

.showimage {
  height: 350px;
  color: white;
  background: linear-gradient(135deg,
              rgba(0, 0, 0, 0.8),
              rgba(0, 0, 0, 0.3)
    );
  background-size: cover;
  background-position: center;
}


.showcard-description {
  position: absolute;
  top: 75px;
  left: 20px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.4;
}

.showcard-brand {
  position: absolute;
  bottom: 80px;
  left: 20px;
}

.showcard-size {
  position: absolute;
  bottom: 100px;
  left: 20px;
}

.showcard-price {
  position: absolute;
  bottom: 30px;
  right: 35px;
  font-weight: bold;
  font-size: x-large;
}

.showcard-text {
  position: absolute;
  bottom: 20px;
  right: 15px;
  font-weight: bold;
  font-size: x-small;
}


.showcard-image {
  position: absolute;
  top: 20px;
  right: 20px;
}

.showcard-category {
  position: absolute;
  top: 30px;
  left: 20px;
}

.showcard-subcategory {
  position: absolute;
  top: 40px;
  left: 20px
}

.showcard-edit {
  position: absolute;
  bottom: 25px;
  left: 20px
}

.showcard-delete {
  position: absolute;
  bottom: 25px;
  left: 90px
}

.showcard-purchase {
  position: absolute;
  bottom: 25px;
  left: 20px
}
